.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  position: relative;
}

.heading2Xl::after {
  content: " ";
  width: 100%;
  height: 15px;
  z-index: -1;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  bottom: 10px;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.socialList li {
  list-style: none;
  margin: 0 20px;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  position: relative;
}

.headingLg::after {
  content: " ";
  width: 100%;
  height: 10px;
  z-index: -1;
  position: absolute;
  background-color: var(--primary-color);
  left: 0;
  bottom: 5px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}
